@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Zilla+Slab:wght@400;700&display=swap');
.App {
  padding: 0 64px; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .App {
    padding: 0 24px;
  }
} 
@media screen and (max-width: 400px) {
  .App {
    padding: 0 12px;
  }
} 

 